#calcBody {
    display: flex;
    align-content: center;
    justify-content: center;
    border-color: black;
    border: 5px;
    border-style: solid;
    border-radius: 50px;
    width: 500px;
    height: 700px;
}

