#calcBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: black;
    border: 5px;
    border-style: solid;
    border-radius: 50px;
    width: 500px;
    height: 700px;
}

#resultsBox {
    display: flex;
    width: 400px;
    height: 150px;
    align-content: center;
    justify-content: center;
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
    margin: 10px;
}

button {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    margin: 3px;
}

#btnPad {
    border: 5px;
    border-style: solid;
    border-color: black;
    width: 400px;
    height: 490px;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}