#calcBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-color: black;
    border: 5px;
    border-style: solid;
    border-radius: 50px;
    width: 500px;
    height: 700px;
}

#resultsBox {
    display: flex;
    width: 450px;
    height: 200px;
    align-content: center;
    justify-content: center;
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 50px;
}

button {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

#btnPad {
    border: 5px;
    border-style: solid;
    border-color: black;
    
}